.ui.segment.comment-box {
  height: 60%;
  margin-top: 3rem;
  width: 35rem;
}

.comment-top-part {
  justify-content: center;
}



.comment-background {
  height:80vh;
  display: flex;
  justify-content: center;
  background-image: url('../Images/perfect.png');
  // background-repeat: no-repeat;
  background-size: cover;
}

.container-area-text { 
  margin-top: 1rem;
  color:black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.comment-heading {
  font-size: 1.7rem;
  letter-spacing: .1rem;
}

.comment-parahraph {
  font-size: 1rem;
  font-weight: bold;
}

// .comment-button-submit {
//   width: 10rem;
//   height: 3rem;
// }

.ui.form textarea {
  height: 10rem;
  resize: none;
}

.comment-top-box {
  background-color: black;
}

h1.comment-heading-component {
  color: white;
  margin-top: 2rem;
}

.ui.modal.transition.visible.active.modalHeight {
  max-width: 30%;
  height: 45%;
  margin: 10rem auto;
  // display:flex;
  // justify-content: center;
}

div#modalHeight {
  bottom: 50%;
  left: 50%;
  right: 50%;
  top: 50%;
}

.ui.modal {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .ui.segment.comment-box {
    width: 80%
  }
  .comment-heading {
    font-size: 1rem;
  }
  .ui.form textarea {
    height: 5rem;
  }
  .paragrapgh-modal {
    font-size: .8rem;
    text-decoration: underline;
  }
  
}