.write-review-box-positioning {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.write-review-box-positioning-inner-box {
  display: flex;
  align-items: center;
}

.comment-picture-size {
  width: 70%;
}

a.hover-link-to-comment:hover {
  
  text-decoration: underline;
}