.write-review-box-positioning {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.write-review-box-positioning-inner-box {
  display: flex;
  align-items: center;
  .disabled .rating {
    cursor: pointer;
  }
}

.comment-picture-size {
  width: 70%;
}

a.hover-link-to-comment:hover {
  text-decoration: none;
}

.display-heading-poisition {
  display: flex;
  justify-content: center;
}


.displaying-website {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-link-size {
  font-size: 1.5rem;
  font-weight: bold;
}

.positioning-website-link {
  display: flex;
  padding: .5rem;
}

.website-text-color {
  color: black;
  padding-left: .5rem;
}

.no-logo-present {
  width: 10rem;
  height: 10rem;
}

.gods-logo-postioning {
  margin-left: 1rem;
}




.user-comment-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-comment-position-two {
  display: flex;
  align-items: center;
}

.user-comment-position-two-inner-one {
  margin-right: .7rem;
}

.user-comment-position-two-inner-two {
  margin-left: .7rem;
}

.commentator-pic-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height:5rem;
  border-radius: 50%;
  background-image: url('https://i.ibb.co/kDvfxhz/comentator-profile.png');
}

.rating-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.size-date {
  font-size: .9rem;
}

.text-comment-area {
  margin: 1rem 0 2rem;
}

.comments-layout {
  max-width: 600px;
}



@media only screen and (max-width: 1024px) {

  .ui.grid>.row.flexing-mobile {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items:center
  }
  
  div.column.flexing-ipad {
    // width: 40rem;
    // height: 20rem;
  }

  
  .ui.grid>.row>.column.flexing-ipad {
    width: 75%;
  }

}

@media only screen and (max-width: 800px) {
  .ui.grid>.row>.column.flexing-ipad {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .ui.grid>.row>.column.flexing-ipad {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .ui.grid>.row>.column.flexing-ipad {
    width: 90%;
  }
}


@media only screen and (max-width: 414px) {
  .ui.grid>.row>.column.flexing-ipad {
    width: 98%;
    height: 40%;
  }

  .displaying-website {
    flex-direction: row;
  }
  .mobile-friendly-positioning {
    display: flex;
  }

  .hiding-text-content {
    display: none;
  }

  .hiding-text-content {
    display: none;
    color: none;
  }

  i.world.icon.large.icon.engraved.icon-response-size {
    font-size: 1rem;
  }

  i.chevron.right.large.icon.engraved-two-normal-text.icon-response-size {
    font-size: 1rem;
  }

  .website-link-size {
    font-size: 1.1rem;
  }

  .positioning-website-link {
    align-items: baseline;
  }

  .ui.segment.displaying-website {
    border: none;
    background: none;
  }
  
  .ui.grid.mobile-positioning-top {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .ui.very.relaxed.two.column.grid {
    display: flex;
    align-items: flex-start;
    padding: 0;
    justify-content: space-evenly;
  }

  .info-page-width {
    width: 80%;
  }

  .ui.segment.getting-rid-of-border.changing-background-color  {
    display: flex;
  }

  .content-towards-logo {
    margin-left: 0;
  }
}

// .positioning-display-information-page {
//   margin-bottom: 5rem;
// }

.business-transparency {
  display: flex;

  p {
    margin-bottom: 1.5rem;
  }
}

.icon-business-size {
  height: 2rem;
}

.pop-up-positioning-icon {
  display: flex;
}

.ui.segment.displaying-website.getting-rid-of-border {
  display: flex;
  justify-content: flex-end;
}

// .ui.segment.getting-rid-of-border-color {
//   background-color: #f3f3e1;
// }

