.body {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  background-color: #f3f3e1;
  min-height: 100vh;
}
.user-summary-container {
  background-color: #ffe6cc;
  width: 100vw;
  height: 180px;
  display: flex;
  justify-content: center;
  box-shadow:  2px 2px 2px rgba(102, 51, 0, 0.6);
}

.user-summary-content-container {
  display: flex;
  width: 1000px;
}

.profile-pic-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .commentator-pic-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-image: url('https://i.ibb.co/kDvfxhz/comentator-profile.png');
    background-size: cover;

    .engraved {
      font-size: 2.5em;
      opacity: .7;
    }
  }
}

.profile-pic {
  border-radius: 100%;
  height: 75px;
  width:75px;
}

.username-container {
  flex-grow: 1;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.reviews-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.review-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-number {
  font-size: 3em;
  font-weight: 700;
  padding: 10px;
}

.review-text {
  display: flex;
  align-items: flex-end;
  font-size: 1em;
  font-weight: 700;

  .ui.rating .active.icon {
    background-color: rgba(102, 51, 0, 0.6);
  }
}

.profile-body-section-container {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  color: #664400;
  // width: 80%;
  
}


.profile-body-container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}

.gods-created-header {
  font-size: 1.5em;
  font-weight: 700;
  margin: 30px 0;
}

.review-block-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.review-of-text {
  margin-bottom: 16px;
}

.review-card {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 24px;
  box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 85%;
  margin-bottom: 20px;
}

// .gods-created-subclass {
//   margin-bottom: 20px;
// }

.review-card-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;

  .profile-pic-in-card {
    height: 45px;
    // width: 45px;
  }

  .commentator-pic-background {
    height: 45px;
    width: 45px;

    .engraved {
      font-size: 1.2em;
      opacity: .7;
    }
  }

  .review-header-username {
    font-size: 1em;
    font-weight: 700;
    margin-left: 10px;
  }
}

.review-card-body-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.commentator-pic-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height:5rem;
  border-radius: 50%;
  background-image: url('https://i.ibb.co/kDvfxhz/comentator-profile.png');
  background-size: cover;
}

.review-card-body-rating-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  
  .ui.rating .active.icon {
    background-color: #ffae00;
  }
}

.review-card-body-rating-date-gods {
  justify-content: flex-start;
}

.review-card-buttons-container {
  display: flex;
}

.review-card-button {
  padding: 4px 8px;
  display: flex;
  color: rgba(0, 0, 0, 0.4);
  &:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
  }

  a {
    display: flex;
    color: rgba(0, 0, 0, 0.4);
    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

@media screen and (max-width: 1024px) {

  .user-summary-content-container {
    width: 90%;
  }

  .review-block-container {
    width: 100%;
    align-items: center;
  }

}

@media screen and (max-width: 500px) {

  .user-summary-container {
    height:fit-content;
  }

  .user-summary-content-container {
    flex-direction: column;
  }

  .profile-pic-container {
    margin: 20px 0;

    .commentator-pic-background {
      height: 100px;
      width: 100px;
    }
  }

  .username-container {
    display: flex;
    justify-content: center;

    .username-text {
      text-align: center;
      margin: 10px;
    }
  }

  .reviews-container {
    margin: 20px 0;
  }

  .review-content-container {
    flex-direction: row;
  }

  .review-number {
    font-size: 2em;
    padding: 10px 5px;
  }

  .review-card {
    width: 90%;
  }

}