
.user-summary-container {
  background-color: #ffe6cc;
  width: 100vw;
  height: 180px;
  display: flex;
  justify-content: center;
}

.user-summary-content-container {
  display: flex;
  width: 80%
}

.profile-pic-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  border-radius: 100%;
  height: 75px;
  width:75px;
}

.username-container {
  flex-grow: 1;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.reviews-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-number {
  font-size: 3em;
  font-weight: 700;
  padding: 10px;
}

.review-text {
  display: flex;
  align-items: flex-end;
  font-size: 1em;
  font-weight: 700;
}