.body {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
}
.user-summary-container {
  background-color: #ffe6cc;
  width: 100vw;
  height: 180px;
  display: flex;
  justify-content: center;
}

.user-summary-content-container {
  display: flex;
  width: 80%
}

.profile-pic-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  border-radius: 100%;
  height: 75px;
  width:75px;
}

.username-container {
  flex-grow: 1;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.reviews-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-number {
  font-size: 3em;
  font-weight: 700;
  padding: 10px;
}

.review-text {
  display: flex;
  align-items: flex-end;
  font-size: 1em;
  font-weight: 700;

  .ui.rating .active.icon {
    background-color: rgba(102, 51, 0, 0.6);
  }
}

.profile-body-section-container {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  // width: 80%;
  
}


.profile-body-container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column-reverse;
}

.review-of-text {
  margin: 50px 0 16px;
}

.review-card {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 24px;
  box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.2);
}

.review-card-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;

  .profile-pic-in-card {
    height: 45px;
    height: 45px;
  }

  .review-header-username {
    font-size: 1em;
    font-weight: 700;
    margin-left: 10px;
  }
}

.review-card-body-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;
}


.review-card-body-rating-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  
  .ui.rating .active.icon {
    background-color: #ffae00;
  }
}

.review-card-buttons-container {
  display: flex;
}

.review-card-button {
  padding: 4px 8px;
  display: flex;
  color: rgba(0, 0, 0, 0.4);
  &:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
  }

  a {
    display: flex;
    color: rgba(0, 0, 0, 0.4);
    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}