@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import 'homepage';
@import 'comment';
@import 'displayinfopage';
@import 'profilepage';
@import 'deleteEditGod';

@import 'deleteEditComment';

// Landing Page Start
.landingcontainer{
  width: 100vw;
  height: 100vh;
  // background-image: linear-gradient(rgb(252, 252, 252), rgb(197, 185, 146));
  background-image: url('../Images/about-page.jpeg');
  background-size: cover;
}

// body{ 
//   padding-top: 49px;
//   background: #ffffff;
// }

.landingpage-button {
  width: 280px;
  height: 50px;
  cursor: pointer;
}

.fade-in {
  animation: 6s;
  -moz-animation: fadein 6s; 
  -webkit-animation: fadein 6s;
  -o-animation: fadein 6s;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
}
}

.landingpage-button:before {
  content: '';
  background: linear-gradient(45deg, beige, white);
  position: absolute;
  top: -2px;
  left:-2px;
  z-index: -1;
  filter: blur(25px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  opacity: 0.9;
}

.landingbutton-position{
// font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
position: absolute;
margin-top: 20%;
margin-left: 55%;
opacity: 0.2;
}

.wrapper{ 
  position:absolute;
  left:35%;
  top:50%;
  perspective: 3000px;
}

.cube-area{
  position:inherit;
  transform-style: preserve-3d;
  animation-name: rotate;
  animation-duration:50s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0%{
    transform: rotate3d(0,1,1,36deg);
  }
  10%{
    transition: rotate3d(1,0,1,72deg);
  }
  20%{
    transition: rotate3d(0, 1, 0.5, 108deg);
  }
  30%{
    transition: rotate3d(1,1,0,144deg);
  }
  40%{
    transition: rotate3d(0,1,1,180deg);
  }
  50% {
    transform: rotate3d(2, 1, 1, 216deg);
  }
  60%{
    transition: rotate3d(1,1,0,252deg);
  }
  70%{
    transform: rotate3d(2,1,-1,288deg);
  }
  80%{
    transition: rotate3d(1,0,0,324deg);
  }
  100%{
    transition: rotate3d(1,2,-1,360deg);
  }
  100%{
    transform: rotate3d(0,1,0,36deg);
  }
}


.box{
  position:absolute;
  width: 300px;
  height:300px;
  border:1px solid #374e49;
  box-shadow: 10px 10px 10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  opacity: 0.2;
}

.second-box{
  position:absolute;
  width: 150px;
  height:150px;
  border:1px thin #e05227;
  border-radius: 5%;
  box-shadow: rgb(97, 96, 96) 1px 1px 1px 1px;
  opacity: 1;
  margin:0;
  background-image: linear-gradient(blue, green, red);
}

.god{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-front{
  transform: translateX(-200px) translateY(-200px) translateZ(-150px);
  background:url('../Images/gods/ZeusCube.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.second-box-front{
  transform: translateX(-125px) translateY(-150px) translateZ(75px);
  background:url('../Images/gods-pictures/zeus-image.jpeg'); 
  background-repeat: no-repeat;
  background-size: cover;
} 

.box-back{
  transform: translateX(-200px) translateY(-200px) translateZ(150px) rotateY(180deg);
  background:url('../Images/gods/PoseidonCube.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.second-box-back{
  transform: translateX(-125px) translateY(-150px) translateZ(-75px) rotateY(180deg);
  background:url('../Images/gods-pictures/Poseidon-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
} 

.box-right{
  transform: translateY(-200px) translateX(-50px) rotateY(90deg);
  background:url('../Images/gods/AresCube.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.second-box-right{
  transform: translateY(-150px) translateX(-50px) rotateY(90deg);
  background:url('../Images/gods-pictures/ares-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
} 

.box-left{
  transform: translateY(-200px) translateX(-350px) rotateY(270deg);
  background:url('../Images/gods/ApolloCube.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.second-box-left{
  transform: translateY(-150px) translateX(-200px) rotateY(270deg);
  background:url('../Images/gods-pictures/apollo-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
} 


.box-top{
  transform: translateX(-200px) translateY(-350px) rotateX(90deg);
  background:url('../Images/gods/HadesPSD.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.second-box-top{
  transform: translateX(-125px) translateY(-225px) rotateX(90deg);
  background:url('../Images/gods-pictures/hades-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
} 

.box-bottom{
  transform: translateX(-200px) translateY(-50px) rotateX(-90deg);
  background:url('../Images/gods/AthenaCube.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.second-box-bottom{
  transform: translateX(-125px) translateY(-75px) rotateX(270deg);
  background:url('../Images/gods-pictures/athena-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
} 

.box-area{
  transform: rotateX(90deg) rotateY(90deg);
  background-repeat: no-repeat;
  background-size: cover;
}

// Landing Page END

// ! ABOUT PAGE START 
.aboutpage-body{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background-image: url('../Images/Michelangelos-David-Wallpaper-96364\ 2.jpeg');
background-position: top right;

// width: 100vw;
height: 100vh;
}

// section{
//   position:relative;
// } 
// section::before{
//   content:'';
//   position: absolute;
//   top:0;
//   left:0;
//   width: 100%;
//   height:100%;
// } 

// section::after{
//   content:'';
//   position: absolute;
//   top:0;
//   left:0;
//   width: 100%;
//   height:100%;
// }

.container-about{
  z-index:1;
  margin-left: 40%;
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} 

.container-about .card-about {
  position: relative;
  width: 250px;
  height:350px;
  box-shadow: 0 0 10px rgb(255, 236, 194);
  border-radius: 15px;
  margin-left:10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-about-wrapper{
  margin:20px;
}

.container-about .card-about .content-about{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity:0.8;
  transition: 1s;
  transform: translateZ(20px)
} 

.container-about .card-about:hover .content-about {
  opacity: 1;
  transform: translateY(-20px);
}

.container-about .card-about .content-about .imgBx-about{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border:5px solid rgb(209, 196, 178) 
}

.container-about .card-about .content-about .imgBx-about img{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  // object-fit: cover;
} 

.container-about .card-about .content-about .contentBx-about h3{
  color: rgb(56, 15, 15);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.6em;
}

.container-about .card-about .content-about .contentBx-about h3 span{
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
} 

.container-about .card-about .sci-about{
  position: absolute;
  bottom:30px;
  display: flex;
}

.container-about .card-about .sci-about li{
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
} 

.container-about .card-about:hover .sci-about li {
  transform: translateY(0px);
  opacity: 1;
}

.container-about .card-about .sci-about li a{
  // color: rgb(112, 19, 12);
  font-size: 24px;
} 

.linkedin {
  color:rgb(40,103,178)
}
.github{
  svg {
  fill: black !important;
}
}

.twitter {
  svg {
    fill: rgb(29, 161, 242) !important;
  }
} 


// ! About Page END









// .popup-information-style {
//   font-size: 1em;
// }









.main-sregister {
  height:100vh;
  display: flex;
  justify-content: center;
  background-image: url('../Images/perfect-gradient.jpeg');
  // background-repeat: no-repeat;
  background-size: cover;
}
.box-sregister{
  width: 500px;
  height:600px;
  margin-left: 30%;
  margin-top: 5%;
}
.container-sregister{
  margin-top: 100px;
  color:white
}



.formfield{
  height: 60px;
  width: 500px;
}
div .form .button {
  background-color: rgb(252, 229, 200);
  }

.form-sregister{
  width: 500px;
  display: flex;
  flex-direction: column;
}

// .or {
//   color:white;
// }

// ! REGISTER USER END


// ! LOGIN USER START
.main-login{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, beige);
  background-image: url('../Images/perfect-gradient.jpeg');
  background-size: cover;
  
}

.form-login{
  margin-bottom: 10px;
}

div .box-login{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 500px;
  margin-top: 100px;
  margin-left:30%;
  margin-top: 10%;
  color:rgb(255, 255, 255);
}


.divider-word{
  color:white
}

.button-login {
  width: 500px;
}

div.form-box-login .button {
  background-color: rgb(252, 229, 200);
}

.wanttoregister{
  width: 500px;
  height: 60px;
  margin-top: 40px;
}
// ! LOGIN USER END


// ! CREATE A GOD START
.main-creategod{
height:100vh;
display: flex;
justify-content: center;
background-image: url('../Images/perfect-gradient.jpeg');
background-size: cover;
align-items: center;
}

.box-creategod{
  height: 100vh;
  width: 500px;
  height:600px;
  margin-left: 30%;
  // margin-top: 10%;
}

// .container-creategod{
//   // margin-top: 100px;
//   color:white;
// }

.formfield{
  height: 60px;
  width: 500px;
}


.form-creategod{
  width: 500px;
  display: flex;
  flex-direction: column;
}

// ! CREATE GOD END



// ! GOD BUSINESS START

.business-container{
  background-image: url('../Images/michel.jpeg');
  background-position: center;
}

.business-brand{
  margin-top: 5%;
  margin-right: 48%;
}

.business-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
  // margin-bottom: 15%;
  
}

.god-brand, .grof-brand {
  font-size: xx-large;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.pilis{
  color:white;
  display: flex;
  justify-content: center;
}

.business-login-register {
  width: 700px;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.business-login-formfield, .business-register-formfield {
  width: 200px;
  height: 50px;
}
button.ui.button.business-login-formfield.business-login{
  background-color:rgb(201, 225, 233);
}

button.ui.medium.button.business-register-formfield {
  background-color: rgb(247, 239, 215);
}

.number-reviews{
  display: flex;
  justify-content:space-around;
  align-items: center;
  height:300px;
  background-color: rgb(250, 247, 243);
}

.first-number, .second-number, .third-number {
  font-size: larger;
}

.customer-confidence {
  height: 70vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.confidence-box{
  width: 380px;
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
}


.button-confidence{
  border:none;
  border-radius: 5px;
  padding: 18px;
  background-color: white;
  box-shadow: 0 10px 20px -10px rgba(175, 170, 140, 0.7);
  transition: all 0.2s;
}

.button-confidence{
  cursor: pointer;
  display:inline-block;
  position: relative;
  transition: 0.2s;
}
.button-confidence:after{
  content: '🏛';
  position: absolute;
  opacity: 0;
  top:18px;
  right: -10px;
  transition: 0.6s;
}

.button-confidence:hover {
  padding-right: 30px;
  padding-left: 5px;
}
.button-confidence:hover:after{
  opacity: 1;
  right:7px;
}

.godcards-confidence{
  width: 700px;
  height: 600px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}

.zeus-card-image{
  width: 650px;
  height: 490px;
  background-image:linear-gradient((to bottom, rgba(42, 42, 46, 0.52), rgba(253, 253, 253, 0.73))), url('../Images/zeus-card.jpeg');
  opacity: 1;
  height: 450px;
  background-repeat: no-repeat;
  box-shadow: 0 14px 20px -10px rgba(58, 57, 55, 0.7); //if removing this one, the bottom border will dissapear and gradient above will make it look like it's fading
  border-radius: 15px;
  border-bottom: none;
}
.prometheus-card-image{
  width:280px;
  height: 280px;
  background-image: url('../Images/prometheus-card.jpeg');
  margin-left: 230px;
  margin-top: 20px;
  box-shadow: 0 14px 20px -10px rgba(58, 57, 55, 0.7);
  border-radius: 10px;
}

// ! GOD BUSINESS END


// ! SHOW ALL GODS START

.gods-cards{
  width: 100vw;
  height:390vh;
  // color:#e66464;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-top: 30px;
}

.card-foreachgod{
  max-width:280px;
  height: 150px;
  border: none;
  box-shadow: 0 16px 20px -10px rgba(58, 57, 55, 0.7); //if removing this one, the bottom border will dissapear and gradient above will make it look like it's fading
  border-radius: 20px;
  }

.ui.cards{
  margin:20px;
  // max-width: 300px;
  width:330px;
  display: flex;
  justify-content: center;
  align-items: center;
   // border:none;
  border-radius: 15px;
  // padding: 18px;
  // box-shadow: 0 10px 20px -10px rgba(121, 77, 57, 0.7);
  transition: all 0.5s;
  &:hover{
  padding-right: 30px;
  padding-left: 5px;
}

}
.header-godname {
  text-align: center;
}

.rating-stars{
  text-align: center;
  margin-top: 10px;
}

.number-of-reviews{
  // max-width: 250px;
  margin:10px;
}
// ! SHOW ALL GODS END












































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































// ! VANIA'S 'QUEENDOOM'
// ? Sorting single god display page

// .info-page-width {
//   width: 1000px;
// }

// .info-page-width-two {
//   max-width: 400px;
// }

.body-color{
  background-color: rgba(145, 89, 89, 0.2);

  // background: linear-gradient(120deg, lightblue, green, brown);
  // background-size: 1000% 1000%;
  // -webkit-animation: AnimationName 39s ease infinite;
  // -moz-animation: AnimationName 39s ease infinite;
  // animation: AnimationName 39s ease infinite;
  // display: flex;
  // justify-content: center;
}

// @-webkit-keyframes AnimationName {
//   0%{background-position:0% 65%}
//   50%{background-position:100% 36%}
//   100%{background-position:0% 65%}
// }
// @-moz-keyframes AnimationName {
//   0%{background-position:0% 65%}
//   50%{background-position:100% 36%}
//   100%{background-position:0% 65%}
// }
// @keyframes AnimationName {
//   0%{background-position:0% 65%}
//   50%{background-position:100% 36%}
//   100%{background-position:0% 65%}
// }




.inner-divider-width-one {
  max-width: 35%;
}

// ? Got rid of predifined border around "company information"
.ui.segment.getting-rid-of-border {
  box-shadow: none;
  border: none;
}

.ui.segment.changing-background-color {
  background-color: rgb(243, 243, 225);
}


// ? Centering god/goddess picture on the right side
.ui.image.god-picture-centered {
  margin: auto;
}

.content-towards-logo {
  margin-left: -3rem;
}


// ? Sorting top left side with Categories and species name
.top-categories-spacing {
  height: 1rem;
  margin-bottom: .4%;
  margin-top: 1%;
}


// ? Sorting text inside of comments section on god's profile

.text-header-bold {
  font-weight: bold;
  font-size: 1.1em;
}

.engraved-two-normal-text {
  background-color: rgba(148, 77, 20, 0.6);
  // background-color: rgba(153, 77, 0, 0.6);
  color: transparent;
    background-clip: text;
  margin-left: 3;
  text-shadow: 1px 1px 1px hsla(0,0%,255%,0.6);
  p {
    font-size: 1em;
    .bold {
      font-size: 1.2em;
      font-weight: 700;
    }
  }
}

.faded-omega-symbol {
  opacity: .5;
}

.ui.horizontal.divider.horizontal-opacity:after, .ui.horizontal.horizontal-opacity.divider:before {
  opacity: .5;
  
}


.ui.rating .active.icon {
  background-color: #ffae00;
  background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 1px hsla(0,0%,255%,0.4);
}

// .start-rating-info-positioning {
//   display: flex;
// }

// .start-rating-info-positioning-padding {
//   padding: 1%;
//   padding-left: 0%;
// }

.ui.label.positioning-job-tags {
  margin: .2857em .4285em;
}

// ! CATEGORY DISPLAY

.inner-divider-width-one-category {
  max-width: 35%;
}

.info-page-width-category {
  max-width:50%;
}


// ! FOOTER COMPONTENT

.footer-color {
  background-color: hsl(0, 0%, 21%);
  color: white;
}

.footer-footer {
  height: 1rem;
}

// ! NAVBAR COMPONENT

.navbar {
  color: white;
}

// ! RESULT BOX COMPONENT

// h3.result-box-heading-margin:last-child {
//   margin-bottom: -1.5rem;
// }

.engraved-box-heading:hover {
  text-decoration: underline;
}

a.engraved-two-normal-text {
  background-color: rgba(102, 51, 0, 0.6);
  // background-color: rgba(153, 77, 0, 0.6);
  color: transparent;
    background-clip: text;
  margin-left: 3;
  text-shadow: 1px 1px 1px hsla(0,0%,255%,0.6);
  p {
    font-size: 1em;
    .bold {
      font-size: 1.2em;
      font-weight: 700;
    }
  }
}

.info-page-container-margin {
  margin-top: 1.5rem;
  padding:10px;
}



// ! TRYING TO SORT RESPONSIVNES OF LANDING CUBE

@media only screen and (max-width: 600px) {


  .box {  
    width: 200px;
    height:200px;
  }
  
  .second-box {
    width: 100px;
    height:100px;
  }
   
  .box-front{
    transform: translateX(-100px) translateY(-100px) translateZ(100px);
  }
  
  .second-box-front{
    transform: translateX(-50px) translateY(-50px) translateZ(50px);
  } 
  
  .box-back{
    transform: translateX(-100px) translateY(-100px) translateZ(-100px) rotateY(180deg);
  }
  
  .second-box-back{
    transform: translateX(-50px) translateY(-50px) translateZ(-50px) rotateY(180deg);
  } 
  
  .box-right{
    transform: translateY(-100px) rotateY(90deg);
  }
  
  .second-box-right{
    transform: translateY(-50px) rotateY(90deg);
  } 
  
  .box-left{
    transform: translateY(-100px) translateX(-200px) rotateY(270deg);
  }
  
  .second-box-left{
    transform: translateY(-50px) translateX(-100px) rotateY(270deg);
  } 
  
  .box-top{
    transform: translateX(-100px) translateY(-200px) rotateX(90deg);
  }
  
  .second-box-top{
    transform: translateX(-50px) translateY(-100px) rotateX(90deg);
  } 
  
  .box-bottom{
    transform: translateX(-100px) rotateX(90deg);

  }
  
  .second-box-bottom{
    transform: translateX(-50px) rotateX(270deg);
 
  } 
  
  .box-area{
    transform: rotateX(90deg) rotateY(90deg);

  }
}


// // ? Got rid of predifined border around "company information"
// .ui.segment.getting-rid-of-border {
//   box-shadow: none;
//   border: none;
// }

// // ? Centering god/goddess picture on the right side
// .ui.image.god-picture-centered {
//   margin: auto;
// }

// .content-towards-logo {
//   margin-left: -3rem;
// }

.navbar.is-dark .navbar-end > .navbar-item, 
.navbar.is-dark .navbar-end .navbar-link {
  background-color: rgba(102, 51, 0, 0.6);
  color: transparent;
    background-clip: text;
  margin-left: 3;
  text-shadow: 1px 1px 1px hsla(0,0%,255%,0.6);
}